<div class="container mt-5 width-200">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 text-center">
    <h1>Create a new list!</h1>
    <%= render "form", list: @list %>
    <p class= "btn border mt-3"><%= link_to "Back to Lists", root_path %></p>
    </div>
  </div>
</div>
